@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-theme-background: #120460;
  --background-secondary: #004695;
  --white: #ffffff;
  --color-1: #1e8eab;
  --background-grey: #ccc;

  --border-radius-1: 8px;
  --border-radius-2: 16px;

  --border: #004695;
  --brand: "Cedarville Cursive", cursive;
  --heading-1: 800;
  --heading-2: 600;
  --semi-bold: 400;
  --error: rgb(244, 67, 54);
  --action: #3366ff;
}

body {
  margin: 0;
  padding: 0;
}

.flex-box {
  display: flex;
}

.outlet {
  width: 70%;
  margin: 2rem;
}
.outlet.full {
  width: 100%;
}
.aside {
  width: 30%;
  margin: 2rem;
}

.line {
  width: 100%;
  height: 0;
  border: 1px solid var(--color-1);
}

.search-results {
  width: 100%;
}
.search-results .container {
  width: 90%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  margin: 12px;
  border: 1px solid var(--border);
  padding: 4px 12px;
  border-radius: var(--border-radius-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.search-results .container .profile-img {
  width: 30%;
  border-radius: var(--border-radius-1);
}
.search-results .container .profile-img img {
  width: 100%;
  border-radius: var(--border-radius-1);
}
.search-results .details {
  margin: 8px;
  width: 70%;
}
.action-buttons {
  display: flex;
}
.action-buttons button {
  font-size: 0.75rem;
  padding: 4px 12px;
  display: flex;
  margin-right: 8px;
  align-items: center;
  border: none;
  border-radius: var(--border-radius-1);
  color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: ease-in-out 1s;
}
.action-buttons button:hover {
  box-shadow: none;
}

.button1 {
  background-color: green;
  border: 2px solid green;
}
.button1:hover {
  color: green;
  background: transparent;
  border: 2px solid green;
}
.button2 {
  background-color: var(--background-secondary);
  border: 2px solid var(--background-secondary);
  color: white;
}
.button2:hover {
  color: var(--background-secondary);
  background: transparent;
  border: 2px solid var(--background-secondary);
}
.button3 {
  background-color: var(--error);
  border: 2px solid var(--error);
}
.button3:hover {
  color: var(--error);
  background: transparent;
  border: 2px solid var(--error);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-theme-background);
}

input, textarea,select{
  outline: none;
  border: none;
}